{{set . "title" "Globo Resiliency Matrix"}}
{{template "header.html" .}}

<header class="jumbotron-fluid" style="background-color:#4eabe9">
  {{template "Greeting.html" .}}
</header>

<div class="container">
  <div class="row">
    <p></p>
      {{if .services}}
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">G1</th>
              <th scope="col">GE</th>
              <th scope="col">GShow</th>
              <th scope="col">Globoplay</th>
            </tr>
          </thead>
          <tbody>
          {{range .services}}
            <tr>
              <th scope="row">{{.Name}}</th>
              <td class="bg-success">Available</td>
              <td class="bg-danger">Unavailable</td>
              <td class="bg-success">Available</td>
              <td class="bg-info">Does not depend</td>
            </tr>
          {{end}}
          </tbody>
        </table>
      {{else}}
        <p>No more results</p>
      {{end}}
  </div>
</div>

{{template "footer.html" .}}
